@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;800&display=swap');

html, body{
  margin: 0;
  padding: 0;
  height: 100%;
  /* font-family: 'Montserrat'; */
  font-family: 'Open Sans', sans-serif;
  scroll-behavior: smooth;
}

.App {
  color: black;
  position: relative;
  min-height: 100vh;
}

a {
  color: white;
  padding: 0.15rem;
}


.my-container a:hover {
  color: white;
}


.nav-options a:hover {
  color: black;
  text-decoration: none;
  background-color: #D4F6FF;
  border-radius: 0.25rem;

  transition: color .15s ease-in-out,background-color .15s ease-in-out
}
.selected {
  background-color: #D4F6FF;
  color: black;
  border-radius: 0.25rem;
}

header{
  background: #151413;
  color: white;
}

header::after {
  content: "";
  display: table;
  clear: both;
}

#footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  top: 100%;
  height:8vh;
  width: 100%;
  background:#151413;
  color: white;
}

.in-touch a:hover, .api a:hover {
  margin: auto;
  text-decoration: none;
  color: black;
  background-color: white;
  transition: color .15s ease-in-out,background-color .15s ease-in-out;
}

.socials {
  list-style-type: none;
  display: inline-flex;
  padding-right: 5em;
  margin: 0;
}

.socials li {
  padding-left: 0.5em;
}

.socials a:hover {
  margin: auto;
  text-decoration: none;
  color: black;
}

.ri-xl {
  padding: 0.1em;
  line-height: unset;
}

.ri-xl:hover{
  color: black;
  background-color: white;
  border-radius: 50%;
  transition: color .15s ease-in-out,background-color .15s ease-in-out;
}


.my-container {
  padding-left: 10px;
  height: 8vh;
  margin: 0 auto;
}

.my-container h1{
  width: 20%;
  float: left;
}

.main-heading {
  padding-top: 13px;
}

nav {
  float: right;
}

.nav-options {
  color: white;
  margin: 0;
  padding: 0;
  list-style-type: none;
  padding-top: 25px;
}

.nav-options li {
  font-size: 18px;
  display: inline-block;
  text-align: right;
  margin-right: 35px;
}


.intro-content-container {
  color: white;
  text-align: center;
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("../assets/lift.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  margin: 0;
  height: 100vh;
}

.intro-content-container img {
  width: 100%;
}

.intro-text {
  padding-top: 260px;
}

.intro-heading {
  font-weight: 800;
  font-size: 75px;
}

.intro-leadin {
  font-weight: 800;
  font-size: 35px;
  line-height: 75px;
  margin-bottom: 50px;
}

.about-section {
  height: 100vh;
  background-color: #312f2d;
  color: white;
  display: flex;
  align-items: center;
  align-content: flex-start;
  flex-direction: row;
}

.about-gif-container, .about-description-container{
  text-align: center;
  width: 49vw;
}

.about-description-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
  padding-left: 1.5em;
  height: 100%;
}

#about-gif {
  width: 100%;
  border-radius: 10px;
}

.description-content h2{
  font-weight: 600;
}

.description-content{
  text-align: left;
  font-size: 20px;
  font-weight: 300;
  width: 30vw;
  background-color: #151413;
  padding: 1em;
  border-radius: 10px;
}

.title-bar {
  background-color: #E7E6E3;
  width: auto;
  height: 5vh;
  text-align: center;
  margin-bottom: 10px;
}

.title-bar h2{
  padding-top: 10px;
  font-size: 24px;
  padding-left: 130px;
}

.today {
  width: 60vw;
  margin: 0 auto;
  text-align: center;
}

.search_bar {
  width: 65vw;
  height: 100%;
  border: 1px solid grey;
  padding: 5px;
  border-radius: 5px;
  text-align: left;
  margin: 0 auto;
  margin-top: 10px;
}

.search{
  width: 90%;
  padding-top: 10px;
  height: 1.25em;
  font-size: 24px;
  color: black;
  background: transparent;
  border: none;
  text-align: left;
}

.search-button{
  float: right;
  border: none;
  height: 1.75em;
  width: 1.75em;
  margin-top: 0.25em;
  background: url("../assets/black_mag.png");
  background-size: 1.75em;
}

#mag-glass {
  height: 2rem;
}

.results-list {
  list-style: none;
  padding: 0;
}

.results-list li {
  background-color: #E7E6E3;
  width: 65vw;
  height: 4em;
  margin: 0 auto;
  margin-top: 5px;
  border-radius: 5px;
}

.ex-name {
  display: inline-block;
  padding: 1.25rem;
  width: 50%;
}

.btn{
  float: right;
  color: black;
  border: none;
  background-color: #D2D2D2;
  height: 100%;
  padding-left: 0.75em;
  padding-right: 0.75em;
}

.btn:hover, .btn:focus {
  background-color: #151413;
}

.btn-toolbar {
  display: inline-block;
}

.del-btn {
  background-color: #D2D2D2;
  color: black;
  border: none;
  border-radius: 0.25em;
  height: 1.75em;
}

.add-exercise {
  background-color: #D2D2D2;
  border: none;
  position: absolute;
  width: 12vw;
  height: 40px;
  border-radius: .25rem;
  font-size: 14px;
  margin: 0 auto;
  left: 0%;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.add-exercise:hover {
  background-color: #151413;
  color: white;
}

.sign-out-btn {
  border: none;
  height: 1.75em;
  background-color: #D2D2D2;
}

.sign-out-btn:hover, .del-btn:hover {
  background-color: red;
  color: white;
}

.my-week {
  text-align: center;
}

.entry {
  list-style-type: circle;
}

.rest-button {
  background-color: blue;
}

.edit-page{
  height: 100vh;
}

.entry-item {
  cursor: pointer;
}

.entry-item ul{
  display: none;
}

.entry-item.show ul{
  display: list-item;
  list-style-type: none;
}

.entry-list{
  list-style-type: none;
}

/* .fc-view-container{
  height: 100vh;
} */


@media (max-width: 1200px){
  .about-section{
    flex-direction: column;

  }
  .description-content, .description-content h2{
    width: 100%;
    font-size: 16px;
  }

}


@media (max-width: 1120px) {
  .my-container h1 {
    padding-top: 22px;
    font-size: 28px;
  }

.search_bar {
    width: 70vw;
  }

  .results-list li {
    width: 70vw;
  }

  .ex-name {
    padding: 0.25rem;
  }

  .add-exercise {
    width: 17vw;
  }
  
  .fc table {
    min-width: 1120px;
  }

  .fc-view-container {
    overflow: scroll;
    height: 500px;
  }
  /* .about-gif-container, .about-description-container{
    width: 56vw;
  } */

}

@media (max-width: 786px) {
  .my-container h1 {
    padding-top: 28px;
    font-size: 22px;
    width: 10vw;
  }

.search_bar {
    width: 90vw;
  }

  .results-list li {

    width: 90vw;
  }

  .add-exercise {
    font-size: 12px;
    width: 24vw;
  }

  .about-gif-container, .about-description-container{
    width: 68vw;
  }
}

@media (max-width: 620px) {
  .my-container h1 {
    padding-top: 30px;
    width: 10vw;
    font-size: 18px;
  }

.search_bar {
    width: 90vw;
  }

  .results-list li {
    width: 90vw;
  }
}

@media (max-width: 460px) {
  .nav-options li {
    font-size: 16px;
    margin-right: 15px;
  }

  .intro-heading{
    font-size: 40px;
  }

  .about-description-container h1 {
    font-size: 20px;
  }

  .my-container h1 {
    padding-top: 30px;
    width: 9vw;
    font-size: 14px;
  }
  
  .results-list li {
    font-size: 13px;
    width: 90vw;
    height: 9vh;
  }

  .add-exercise {
    height: 6vh;
  }

  .title-bar h2{
    font-size: 14px;
    padding-top: 16px;
  }

  .about-gif-container{
    width: 80vw;
  }

  .description-content, .description-content h2{
    width: 100%;
    font-size: 14px;
  }
  
}