@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');


html, body{
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Montserrat';
}

.App {
  color: black;
}

header{
  background: #352E2A;
  color: white;
}

header::after {
  content: "";
  display: table;
  clear: both;
}

.my-container {
  padding-left: 10px;
  height: 8vh;
  margin: 0 auto;
}

.my-container h1{
  width: 20%;
  float: left;
}

nav {
  float: right;
}

.nav-options {
  color: white;
  margin: 0;
  padding: 0;
  list-style-type: none;
  padding-top: 15px;
}

.nav-options li {
  font-size: 18px;
  display: inline-block;
  text-align: right;
  margin-right: 35px;
}

.intro-content-container {
  color: black;
  background-color: #352E2A;
  margin: 0;
  height: 100vh;
}

.intro-content-container img {
  width: 100%;
}

.title-bar {
  background-color: #D2D2D2;
  width: auto;
  height: 5vh;
  text-align: center;
  border: 1px solid grey;
}

.title-bar h2{
  margin: 1px;
  padding-top: 10px;
  font-size: 24px;
}

.today {
  width: 60vw;
  margin: 0 auto;
  text-align: center;
}

.search_bar {
  width: 30vw;
  height: 100%;
  border: 1px solid grey;
  padding: 5px;
  border-radius: 5px;
  text-align: left;
  margin: 0 auto;
  margin-top: 10px;
}

.search{
  width: 50vw;
  padding-top: 10px;
  height: 30px;
  font-size: 24px;
  color: black;
  background: transparent;
  border: none;
  text-align: left;
}

.results-list {
  list-style: none;
  padding: 0;
}

.results-list li {
  border: 1px solid black;
  background-color: rgb(225, 254, 255);
  padding: 20px;
  width: 50vw;
  margin: 0 auto;
  margin-top: 5px;
}

.btn{
  float: right;
  color: black;
  border: 1px solid black;
  background-color: #D2D2D2;
}

.btn-toolbar {
  display: inline-block;
}

.add-exercise {
  background-color: #D4F6FF;
  position: absolute;
  width: 10vw;
  height: 5vh;
  margin: 0 auto;
  left: 0%;
}

.add-exercise:hover {
  background-color: rgb(52, 53, 71);
  color: white;
}

.my-week {
  text-align: center;
}